{% extends "base.html" %}

{% block title %}Спортивная жизнь - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Спортивная жизнь</h1>
        
        <div class="sports-buttons">
            <a href="https://kgau.ru/university/sportivnaya-zhizn/sportivnye-sektsii/" class="sports-btn">🏃 Спортивные секции</a>
            <a href="https://kgau.ru/university/sportivnaya-zhizn/kraevaya-universiada/" class="sports-btn">🏆 Краевая Универсиада</a>
            <a href="https://kgau.ru/university/sportivnaya-zhizn/uchebno-sportivnyy-kompleks-konevodstva/" class="sports-btn">🐎 Учебно-спортивный комплекс коневодства</a>
        </div>
    </div>
</div>
{% endblock %}