{% extends "base.html" %}

{% block title %}Зачёт массовых онлайн-курсов - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Зачёт массовых онлайн-курсов</h1>
        
        <div class="mass-courses-info">
            <p>В Красноярском ГАУ реализуется система зачёта результатов обучения на массовых онлайн-курсах (МООК), пройденных студентами на ведущих образовательных платформах.</p>
            
            <h3>Платформы для прохождения онлайн-курсов:</h3>
            <ul>
                <li>Открытое образование</li>
                <li>Coursera</li>
                <li>Stepik</li>
                <li>Лекториум</li>
                <li>Universarium</li>
            </ul>
            
            <h3>Порядок зачёта:</h3>
            <ol>
                <li>Выбрать онлайн-курс, соответствующий учебному плану</li>
                <li>Успешно завершить обучение на курсе (получить сертификат)</li>
                <li>Предоставить сертификат в деканат института</li>
                <li>Написать заявление о перезачёте результатов</li>
            </ol>
            
            <h3>Важно:</h3>
            <ul>
                <li>Курс должен быть пройден не позднее чем за 2 года до момента перезачёта</li>
                <li>Содержание курса должно соответствовать рабочей программе дисциплины</li>
                <li>Решение о перезачёте принимает кафедра/деканат</li>
            </ul>
            
            <div class="mass-courses-contact">
                <p><strong>По вопросам перезачёта обращаться:</strong></p>
                <p>Учебный отдел: пр. Мира, 90, каб. 2-05</p>
                <p>Email: <a href="mailto:mass-courses@kgau.ru">mass-courses@kgau.ru</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}