{% extends "base.html" %}

{% block title %}Сроки проведения учебных и производственных практик - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Сроки проведения учебных и производственных практик</h1>
        
        <div class="practice-dates-info">
            <h3>Сроки практик на 2025/26 учебный год:</h3>
            
            <h4>Учебная практика:</h4>
            <ul>
                <li>1 курс (ознакомительная): июнь - июль 2026 г.</li>
                <li>2 курс (технологическая): июнь - июль 2026 г.</li>
            </ul>
            
            <h4>Производственная практика:</h4>
            <ul>
                <li>3 курс (производственная): июнь - август 2026 г.</li>
                <li>4 курс (преддипломная): апрель - июнь 2026 г.</li>
            </ul>
            
            <h4>Магистратура:</h4>
            <ul>
                <li>1 курс: учебная практика - январь-февраль 2026 г.</li>
                <li>2 курс: производственная/преддипломная практика - март-май 2026 г.</li>
            </ul>
            
            <p class="practice-note">* Точные даты практик уточняются в графике учебного процесса по каждому направлению подготовки.</p>
        </div>
    </div>
</div>
{% endblock %} 