{% extends "base.html" %}

{% block title %}Противодействие коррупции - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Противодействие коррупции</h1>
        
        <div class="anticorruption-info">
            <p>В Красноярском ГАУ ведется системная работа по противодействию коррупции.</p>
            
            <h3>Нормативные документы:</h3>
            <ul>
                <li>Федеральный закон «О противодействии коррупции»</li>
                <li>Антикоррупционная политика университета</li>
                <li>План мероприятий по противодействию коррупции</li>
            </ul>
            
            <h3>Сообщи о коррупции:</h3>
            <p>Телефон доверия: +7 (391) 227-09-81</p>
            <p>Email: anticorruption@kgau.ru</p>
        </div>
    </div>
</div>
{% endblock %}