{% extends "base.html" %}

{% block title %}Первичная профсоюзная организация - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Первичная профсоюзная организация работников КрасГАУ</h1>
        
        <div class="profsoyuz-info">
            <p>Первичная профсоюзная организация работников Красноярского ГАУ защищает трудовые права и социальные интересы сотрудников университета.</p>
            
            <h3>Основные направления деятельности:</h3>
            <ul>
                <li>Защита трудовых прав работников</li>
                <li>Социальная поддержка сотрудников</li>
                <li>Организация культурно-массовых мероприятий</li>
                <li>Содействие в решении жилищных вопросов</li>
                <li>Оздоровление работников и их детей</li>
            </ul>
            
            <h3>Контакты:</h3>
            <p>Кабинет: пр. Мира, 90, каб. 2-12</p>
            <p>Телефон: +7 (391) 227-09-80</p>
            <p>Email: profkom@kgau.ru</p>
        </div>
    </div>
</div>
{% endblock %}