{% extends "base.html" %}

{% block title %}Совет родителей - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Совет родителей</h1>
        
        <div class="parent-council-info">
            <p>Совет родителей создан для взаимодействия университета с родителями студентов.</p>
            
            <h3>Основные задачи:</h3>
            <ul>
                <li>Участие в решении вопросов воспитания и обучения студентов</li>
                <li>Содействие в организации социальной поддержки</li>
                <li>Помощь в улучшении условий проживания в общежитиях</li>
                <li>Организация совместных мероприятий</li>
            </ul>
            
            <h3>Контакты:</h3>
            <p>Email: parents@kgau.ru</p>
        </div>
    </div>
</div>
{% endblock %}