{% extends "base.html" %}

{% block title %}Ассоциация выпускников - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Ассоциация выпускников</h1>
        
        <div class="association-info">
            <p><strong>Председатель Совета Ассоциации выпускников:</strong> Липшин Алексей Геннадьевич — Директор КрасНИИСХ.</p>
            
            <h3>Состав Совета Ассоциации выпускников</h3>
            <ul>
                <li><strong>Жеребцов Антон Андреевич</strong> — Генеральный директор ООО ИТЦ «ЗЕМЛЕСПРОЕКТ»</li>
                <li><strong>Кудрина Валентина Алексеевна</strong> — Заместитель начальника отдела ООО "Сибирский институт землеустройства, кадастра и проектирования"</li>
                <li><strong>Шадрин Сергей Владимирович</strong> — Генеральный директор АО «Красноярскагроплем»</li>
                <li><strong>Мыслевец Роман Юрьевич</strong> — Начальник КГКУ Красноярский отдел ветеринарии</li>
                <li><strong>Рябцев Александр Анатольевич</strong> — Менеджер-технолог АО Фирмы «Август» представительства в г.Красноярске</li>
                <li><strong>Демидов Юрий Алексеевич</strong> — Руководитель службы по надзору за техническим состоянием самоходных машин и других видов техники Красноярского края</li>
                <li><strong>Мещеряков Андрей Васильевич</strong> — Начальник отдела капитального строительства администрации г.Саяногорска республики Хакасия</li>
                <li><strong>Ветрова Оксана Михайловна</strong> — Технолог ООО "Ярхлеб"</li>
                <li><strong>Яковлев Василий Александрович</strong> — Заведующий производством ООО «Ярск»</li>
                <li><strong>Борзых Аксана Юрьевна</strong> — Генеральный директор ООО «Рекламная группа «Лимузин»</li>
                <li><strong>Кравцов Павел Александрович</strong> — Исполнительный директор ООО «Красноярская ремонтно-строительная компания»</li>
                <li><strong>Бородина Кристина Алексеевна</strong> — Эксперт 1 отдела криминалистических экспертиз и учетов ЭКЦ ГУ МВД России по Красноярскому краю</li>
                <li><strong>Кравцова Ирина Вадимовна</strong> — Инспектор отдела материально-технического и хозяйственного обеспечения ФГКУ "Управление вневедомственной охраны войск национальной гвардии РФ по Красноярскому краю"</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}