{% extends "base.html" %}

{% block title %}Списки лиц, подавших документы (Аспирантура) - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Списки лиц, подавших документы: Аспирантура</h1>
        
        <div class="content-block">
            <p>Информация о списках подавших документы будет опубликована после начала приемной кампании.</p>
            
            <div class="contact-block">
                <p><strong>Контактная информация:</strong></p>
                <p>Адрес: г. Красноярск, пр. Мира, 90, каб. 2-03</p>
                <p>Телефон: +7 (391) 227-46-09</p>
                <p>Email: aspira@kgau.ru</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}