{% extends "base.html" %}

{% block title %}Приказы о зачислении на СПО - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Приказы о зачислении на специальности среднего профессионального образования</h1>
        
        <div class="content-block">
            <p>Информация о приказах о зачислении будет опубликована после завершения приемной кампании.</p>
            <p>Следите за обновлениями на сайте и в разделе «Конкурсные списки».</p>
        </div>
    </div>
</div>
{% endblock %}