{% extends "base.html" %}

{% block title %}Расписание экзаменов - Поступающему - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Расписание экзаменов</h1>
        
        <div class="content-block">
            <p>Расписание вступительных испытаний будет опубликовано после завершения приема документов.</p>
            <p>Следите за обновлениями на сайте и в личном кабинете абитуриента.</p>
            
            <div class="contact-block">
                <p><strong>Контактная информация:</strong></p>
                <p>Телефон: +7 (391) 222-07-68</p>
                <p>Email: priem@kgau.ru</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}