{% extends "base.html" %}

{% block title %}Прокурор разъясняет - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Прокурор разъясняет</h1>
        
        <div class="prosecutor-info">
            <p>Куда направлять жалобу в случае нарушения прав?</p>
            <p>В соответствии со ст. 8 Федерального закона «О порядке рассмотрения обращений граждан Российской Федерации» гражданин направляет письменное обращение непосредственно в тот государственный орган, в компетенцию которых входит решение поставленных вопросов.</p>
            
            <h3>Список контрольно-надзорных органов:</h3>
            
            <div class="prosecutor-table">
                <div class="prosecutor-row header">
                    <div class="prosecutor-org">Компетентный орган</div>
                    <div class="prosecutor-content">Содержание обращения</div>
                </div>
                
                <div class="prosecutor-row">
                    <div class="prosecutor-org">Служба строительного надзора и жилищного контроля Красноярского края<br><small>660049, г. Красноярск, ул. Парижской Коммуны, д. 33<br>тел. 8 (391) 212-46-31</small></div>
                    <div class="prosecutor-content">- некачественные услуги в сфере ЖКХ<br>- неверный расчет платы за ЖКХ<br>- содержание и ремонт жилых домов<br>- жалобы на управляющие компании и ТСЖ</div>
                </div>
                
                <div class="prosecutor-row">
                    <div class="prosecutor-org">Управление Роспотребнадзора по Красноярскому краю<br><small>660049, г. Красноярск, ул. Каратанова, д. 21<br>тел. 8 (391) 226-89-50</small></div>
                    <div class="prosecutor-content">- нарушение санитарно-эпидемиологического законодательства<br>- нарушения в сфере защиты прав потребителей<br>- ненадлежащее качество питьевой воды</div>
                </div>
                
                <div class="prosecutor-row">
                    <div class="prosecutor-org">Главное Управление МВД России по Красноярскому краю<br><small>660017, г. Красноярск, ул. Дзержинского, д. 18<br>тел. 8 (391) 245-97-77</small></div>
                    <div class="prosecutor-content">- нарушение тишины, общественного порядка<br>- противоправные действия конкретного лица<br>- интернет-мошенничество</div>
                </div>
                
                <div class="prosecutor-row">
                    <div class="prosecutor-org">Министерство здравоохранения Красноярского края<br><small>660017, г. Красноярск, ул. Красной Армии, д. 3<br>тел. 8 (391) 211-51-51</small></div>
                    <div class="prosecutor-content">- ненадлежащая организация медицинской помощи<br>- отсутствие медицинского персонала<br>- необеспечение льготными лекарствами</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}