{% extends "base.html" %}

{% block title %}Пройти инструктаж перед практикой дистанционно - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Пройти инструктаж перед практикой дистанционно</h1>
        
        <div class="practice-instruction">
            <p>Для прохождения инструктажа перед практикой необходимо:</p>
            <ol>
                <li>Ознакомиться с <a href="https://kgau.ru/upload/practic/instruktaz_pr.pdf" target="_blank">программой проведения инструктажа</a></li>
                <li>Просмотреть видеоматериалы по технике безопасности</li>
                <li>Пройти тестирование</li>
            </ol>
            
            <div class="instruction-video">
                <h3>Видеоинструктаж:</h3>
                <div class="video-placeholder">
                    <p>🎥 Видеоматериалы будут доступны после авторизации в ЭИОС</p>
                </div>
            </div>
            
            <div class="instruction-test">
                <h3>Тестирование:</h3>
                <p>Для прохождения тестирования перейдите по ссылке:</p>
                <a href="#" class="test-link">Пройти тест по охране труда и технике безопасности →</a>
            </div>
            
            <div class="instruction-result">
                <p>После успешного прохождения тестирования вы получите электронный сертификат о прохождении инструктажа.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}