{% extends "base.html" %}

{% block title %}Документы по практике - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Документы по практике</h1>
        
        <div class="practice-docs-list">
            <h3>Образцы документов:</h3>
            <ul>
                <li><a href="#" class="doc-link">📄 Договор о прохождении практики</a></li>
                <li><a href="#" class="doc-link">📄 Направление на практику</a></li>
                <li><a href="#" class="doc-link">📄 Индивидуальное задание на практику</a></li>
                <li><a href="#" class="doc-link">📄 Дневник практики</a></li>
                <li><a href="#" class="doc-link">📄 Отчёт о прохождении практики</a></li>
                <li><a href="#" class="doc-link">📄 Отзыв руководителя практики от организации</a></li>
                <li><a href="#" class="doc-link">📄 Характеристика студента</a></li>
            </ul>
            
            <h3>Нормативные документы:</h3>
            <ul>
                <li><a href="#" class="doc-link">Положение о порядке проведения практики обучающихся</a></li>
                <li><a href="#" class="doc-link">Программа проведения инструктажа студентам перед практиками</a></li>
                <li><a href="#" class="doc-link">Методические рекомендации по написанию отчёта</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}