{% extends "base.html" %}

{% block title %}Нормативные документы - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Нормативные документы</h1>
        
        <div class="regulations-list">
            <h3>Локальные нормативные акты:</h3>
            <ul>
                <li><a href="#" class="doc-link">Правила внутреннего распорядка обучающихся</a></li>
                <li><a href="#" class="doc-link">Положение о текущем контроле успеваемости и промежуточной аттестации</a></li>
                <li><a href="#" class="doc-link">Положение о порядке перевода, отчисления и восстановления обучающихся</a></li>
                <li><a href="#" class="doc-link">Положение о стипендиальном обеспечении</a></li>
                <li><a href="#" class="doc-link">Положение о порядке проведения практики обучающихся</a></li>
                <li><a href="#" class="doc-link">Положение о порядке зачёта результатов освоения обучающимися учебных предметов, курсов</a></li>
                <li><a href="#" class="doc-link">Положение о государственной итоговой аттестации</a></li>
            </ul>
            
            <h3>Федеральные документы:</h3>
            <ul>
                <li><a href="#" class="doc-link">Федеральный закон «Об образовании в Российской Федерации»</a></li>
                <li><a href="#" class="doc-link">Порядок организации и осуществления образовательной деятельности</a></li>
                <li><a href="#" class="doc-link">ФГОС ВО по направлениям подготовки</a></li>
            </ul>
            
            <p class="regulations-note">* Документы доступны в разделе <a href="#">«Нормативные документы»</a> на сайте университета.</p>
        </div>
    </div>
</div>
{% endblock %}