{% extends "base.html" %}

{% block title %}Пресс-центр - Красноярский ГАУ{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">
        <h1>Пресс-центр</h1>
        
        <div class="press-center-info">
            <p>Пресс-центр Красноярского ГАУ освещает события университетской жизни, взаимодействует со СМИ и ведет информационную работу.</p>
            
            <h3>Контакты пресс-центра:</h3>
            <p>Телефон: +7 (391) 227-09-82</p>
            <p>Email: press@kgau.ru</p>
        </div>
    </div>
</div>
{% endblock %}